@font-face {
    font-family: 'harry_pregular';
    src: url('font/harryp__-webfont.woff2') format('woff2'),
        url('font/harryp__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
p,
tr,
td,
button {
    font-family: "harry_pregular";
    letter-spacing: 1px;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2.5em
}

p {
    font-size: 1.8em;
}

tr {
    font-size: 1.5em
}

td {
    font-size: 1.5em;
}

button {

    border: none;
    padding: 5px 6px;
    cursor: pointer;
    margin: 0 2px;
    border-radius: 20px;
    font-size: 1em;
}

button:hover {
    background-color: grey;
    color: black;
}

.img_wrap {
    width: 300px;
}

.img_wrap img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
    background: transparent;
}

.header p {
    margin: 0.5em;
}

.header {
    display: flex;
    justify-content: center;
    margin: 0 auto;

}

.header div {
    margin: 1em 3em;
}

body {
    height: 100%;
    background-color: #a87e08a4;
}

#list th {
    padding-right: 3em;
    font-size: 1.4em;
}

tbody tr {
    margin-top: 10em;
    font-size: 1.2em;
}

[data-action] {
    cursor: pointer;
}

#sorting th.sort_by {
    text-decoration: underline;
}

#list {
    border-collapse: collapse;
}

#list tbody tr td {
    padding: 4px;
}

#sorting th.sort_by[data-sort-direction="desc"]::after {
    content: "↓";
}

#sorting th.sort_by[data-sort-direction="asc"]::after {
    content: "↑";
}

tr {
    line-height: 3em;
    border-bottom: 2px solid black;
}

[data-field="firstname"],
[data-field="middlename"],
[data-field="lastname"],
[data-field="nickname"] {
    cursor: pointer;
}

.hide {
    display: none;
}

#detail {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

#detail_view {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-height: 100%;
    max-width: 100%;
    margin: 5% 10%;
    padding: 1em 2em;
    padding-top: 2em;
    position: relative;
    grid-gap: 10px;
    overflow: scroll;

}

#detail_img {
    grid-column: 1/2;
    grid-gap: 50px;
}

#crest,
#picture {
    width: 80%;

}

#picture {
    grid-column: 1/2;
}

#crest {
    grid-column: 2/3;
}


.detail_btn {
    grid-column: 1/5;
    border-radius: 20px;

}

.detail_btn button {
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    font-weight: bold;
    margin: 10px;
    font-size: 2em;
    padding: .5em;
    letter-spacing: 2px;
}



#detail_info {
    grid-column: 3/5;
    font-weight: bold;
    font-size: 1.2em;
}

#detail_info p {
    margin: 0.5em;
}

#detail_close {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
}



#content1 {
    text-align: center;
}

#list {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


.dialog {
    display: none;
}

.dialog.show {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .4);
    z-index: 99;
}

.dialogcontent {
    background-color: rgb(233, 233, 255);
    padding: 5vw 3vw;
    position: relative;
    font-size: 2em;
    border-radius: 20px;
}

.dialog h1 {
    margin: 0;
    font-size: 130%;
}

.dialog h2 {
    margin: .5em 0;
    font-size: 110%;
    font-weight: lighter;
}

.dialog .closebutton {
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    top: 1vw;
    right: 1vw;
    border: none;
    font-size: 90%;
    color: darkgray;
}

.dialog .closebutton:hover {
    color: black;
}

#not_prefect button {
    border: 2px solid black;
}

.fade {
    animation-name: fade_kf;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

@keyframes fade_kf {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.hufflepuff {
    background-color: yellow;
    background-image: linear-gradient(to bottom right, yellow, black);
}

.gryffindor {
    background-color: red;
    background-image: linear-gradient(to bottom right, red, black);
}

.ravenclaw {
    background-color: blue;
    background-image: linear-gradient(to bottom right, blue, black);
}

.slytherin {
    background-color: green;
    background-image: linear-gradient(to bottom right, green, black);
}

.shake {
    animation-name: shake_kf;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;

}

@keyframes shake_kf {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}